.App {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
}

.SearchForm {
    background-color: #3c3c9c;
    color: #f0f0f0;
    padding: 20px;
    border-radius: 20px;
    border-bottom: 10px solid #2c2c3f;
    border-right: 10px solid #2c2c3f;
    height: fit-content;
    display: grid;
}

.SearchForm:hover {
    background-color: #3c3c9c;
}

.SearchForm .label {
    font-size: 32px;
    color: #ee9b00;
    font-weight: bold;
}

.SearchForm .input {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    background-color: #ee9b00aa;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.SearchForm .input:focus {
    outline: none;
}

.SearchForm .button {
    background-color: #ee9d00;
    border: none;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #2c2c2c;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

